.atrtributes{
    margin: 0;
    
}

.atrtributes p {
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 5px;
    border-radius: 10px;
}

p {
    margin: 3px 1px 1px 9px;
    font-size: 12px;
}

dd{
    margin-inline-start: 10px;
    font-size: 12px;
}
.progress-bar{
    box-sizing: border-box;
    background-color: white;
    border: .5px solid black;
    height: 10px;
    width: 150px;
}

.progress-bar::-webkit-progress-bar {
    background-color: white;
}